.header {
  padding-bottom: 25rem;
  background-image: url("../images/image-hero-mobile.jpg");
  background-size: cover;
  background-repeat: no-repeat;

  &__nav {
    padding-top: 3rem;
    display: flex;
    justify-content: space-between;

    &--container {
      width: 87.2%;
      margin: auto;
    }
  }
}
