@import "mixins";

.header {
  background-image: url("../images/image-hero-desktop.jpg");
  background-repeat: no-repeat;
  background-position: center;
  padding-bottom: 33rem;

  &__nav {
    padding-top: 5rem;
    display: flex;
    justify-content: space-between;
  }

  &__menu {
    height: 15px;
    display: none;

    @include media(tablet) {
      display: block;
    }
  }

  &__mobile {
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 20;
    display: flex;
    justify-content: center;
  }

  &__list {
    list-style-type: none;
    display: flex;

    &--desktop {
      @include media(tablet) {
        display: none;
      }
    }

    &--mobile {
      width: 100%;
      flex-direction: column;
      background-color: white;
      border: 1px solid $lightGray;
      border-radius: 6px;
    }
  }

  &__listMenu {
    a {
      color: $white;
      text-decoration: none;
      font-size: 1.4rem;
      font-weight: 400;
    }

    &--desktop {
      a {
        margin-right: 2.5rem;

        &:hover {
          text-decoration: underline;
        }
      }

      &:last-of-type {
        a {
          margin-right: unset;
        }
      }
    }

    &--mobile {
      a {
        margin-right: 0;
        color: black;
        font-weight: 500;
        font-size: 1.6rem;
      }

      padding: 2rem 1.5rem;

      &:not(:last-of-type) {
        border-bottom: 1px solid $lightGray;
      }
    }
  }

  @include media(mobile) {
    background-image: url("../images/image-hero-mobile.jpg");
    background-size: cover;
    padding-bottom: 25rem;
  }
}
