@import "mixins";

.main {
  display: flex;
  justify-content: center;

  &__content {
    position: absolute;
    top: calc(380px - 56px);
    width: 100%;

    @include media(mobile) {
      top: calc(300px - 56px);
    }
  }

  &__card {
    border: solid 1px $lightGray;
    border-radius: 10px;
    background-color: $white;

    &--mastercraft {
      text-align: center;
      margin-bottom: 2.5rem;
    }

    &--stats {
      text-align: center;
      margin-bottom: 2.5rem;
    }

    &--about {
      margin-bottom: 5rem;
    }

    &--innerCard {
      &:not(:last-of-type) {
        margin-bottom: 2.5rem;
      }

      &:last-of-type {
        opacity: 0.5;
      }
    }
  }

  &__logo {
    position: absolute;
    top: -28px;
    left: calc(50% - 28px);
  }

  &__heading {
    padding: 0 0.5rem;
    margin-bottom: 1.5rem;

    &--stats {
      padding: unset;
      font-size: 2.8rem;
      margin-bottom: 1rem;
    }

    &--about {
      padding: unset;
    }

    &--innerCard {
      padding: unset;
      font-size: 1.4rem;
      margin-bottom: 0.5rem;
      display: flex;
      align-items: center;

      span {
        margin-left: 1rem;
        padding-top: 0.5rem;
      }

      &:nth-of-type(2) {
        color: $moderateCyan;
        font-weight: 500;
        margin-bottom: 2rem;
      }

      &:last-of-type {
        font-size: 3rem;
        margin-bottom: 2.5rem;

        span {
          font-size: 1.4rem;
          font-weight: 400;
          color: $gray;
        }
      }
    }
  }

  &__paragraph {
    color: $gray;
    font-size: 1.4rem;
    margin-bottom: 1.5rem;

    &--stats {
      &:not(:last-of-type) {
        margin-bottom: 4rem;
        position: relative;

        &::after {
          content: "";
          width: 60px;
          height: 1px;
          background-color: $lightGray;

          position: absolute;
          left: calc(50% - 30px);
          bottom: -25px;
        }
      }

      &:last-of-type {
        margin-bottom: 3rem;
      }
    }

    &--about {
      line-height: 1.7;
    }

    &--innerCard {
      line-height: 1.7;
    }
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 3.5rem;
  }

  &__button {
    background-color: $moderateCyan;
    color: $white;
    font-weight: 700;
    font-size: 1.4rem;
    border: none;
    border-radius: 30px;
    outline: none;
    cursor: pointer;

    &:hover {
      background-color: $darkCyan;
    }

    &--project {
      padding: 1.25em 2.5em;
    }

    &--bookmark {
      padding: 1.238em 1.392em;
      background-color: $darkGray;
      z-index: 10;
      margin-right: 115px;

      @include media(500px) {
        margin-right: unset;
      }
    }

    &--innerCard {
      padding: 1.2em 2.5em;
    }

    &--outOfStock {
      padding: 1.2em 2.5em;
      background-color: $gray;

      &:hover {
        background-color: $darkGray;
      }
    }
  }

  &__bookmarkWrapper {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;

    &:hover {
      button {
        background-color: $darkCyan;
      }

      span {
        color: $darkCyan;
      }
    }
  }

  &__bookmarkIcon {
    width: 13px;
    display: flex;
  }

  &__bookmarkText {
    color: $gray;
    position: absolute;
    z-index: 2;
    left: 30px;
    background-color: $lightGray;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    font-size: 1.4rem;
    font-weight: 700;
    padding: 1.25em 2em 1.25em 3em;

    @include media(500px) {
      display: none;
    }
  }

  &__progress {
    height: 10px;
    width: 100%;
    background-color: $moderateCyan;
    border-radius: 25px;
  }
}
