.main {
  position: relative;

  &__card {
    position: absolute;
    top: -5.6rem;
    background-color: $white;
    border-radius: 10px;
    border: $lightGray solid 1px;
    width: 87.2%;
    text-align: center;

    &__logo {
      position: absolute;
      top: -2.8rem;
      left: calc(50% - 2.8rem);
    }

    &__textMajor {
      margin: calc(3rem + 2.5rem) auto 0 auto;
      width: 192px;
      text-align: center;
    }

    &__textMinor {
      font-size: 1.4rem;
      color: $gray;
      margin: 2.8rem auto 0 auto;
      width: 270px;
    }

    &__div {
      margin-top: 2.8rem;
      padding-bottom: 4rem;

      &__btn {
        text-decoration: none;
        color: $white;
        border-radius: 50px;
        border: none;
        padding: 1.7rem 4.35rem;
        background-color: $moderateCyan;

        &--bookmark {
          img {
            width: 14px;
            height: 17px;
          }

          padding: 1.5rem 1.8rem;
          background-color: $darkGray;
        }
        &--project {
          margin-right: 1rem;
          font-size: 1.4rem;
          font-weight: 700;
        }
      }
    }

    &--statistics {
      position: relative;
      top: calc(23rem + 2.4rem);
    }

    &__textValue {
      margin-top: 3.8rem;
      font-size: 3rem;
    }

    &__textValueTotal {
      margin-top: 1.4rem;
      color: $gray;
    }
  }
}
