.main {
  display: flex;
  justify-content: center;

  &__content {
    position: absolute;
    top: calc(380px - 56px);
    width: 100%;

    @include media(mobile) {
      top: calc(300px - 56px);
    }

    &--stats {
      position: unset;
      display: flex;
      text-align: left;

      @include media(600px) {
        flex-direction: column;
        text-align: center;
      }
    }

    &__minor {
      flex-direction: column;

      &:not(:last-of-type) {
        margin-right: 10rem;

        @include media(600px) {
          margin-right: 0;
        }
      }
    }
  }

  &__card {
    border: solid 1px $lightGray;
    border-radius: 10px;
    background-color: $white;

    &--mastercraft {
      text-align: center;
      margin-bottom: 2.5rem;
    }

    &--stats {
      margin-bottom: 2.5rem;
    }

    &--about {
      margin-bottom: 5rem;
    }

    &--innerCard {
      &:not(:last-of-type) {
        margin-bottom: 2.5rem;
      }
    }
  }

  &__logo {
    position: absolute;
    top: -28px;
    left: calc(50% - 28px);
  }

  &__heading {
    padding: 0 0.5rem;
    margin-bottom: 1.5rem;

    span {
      color: $moderateCyan;
      margin-left: 1rem;
    }

    &--stats {
      padding: unset;
      font-size: 2.8rem;
      margin-bottom: 1rem;
    }

    &--about {
      padding: unset;
    }

    &--innerCard {
      padding: unset;
      font-size: 1.4rem;
      margin-bottom: 0.5rem;
      display: flex;
      align-items: center;

      span {
        margin-left: 1rem;
        padding-top: 0.5rem;
      }

      &:nth-of-type(2) {
        color: $moderateCyan;
        font-weight: 500;
        margin-bottom: 2rem;
      }

      &:nth-of-type(3) {
        font-size: 3rem;
        margin-bottom: 2.5rem;

        span {
          font-size: 1.4rem;
          font-weight: 400;
          color: $gray;
        }
      }
    }

    &--modal {
      padding: 0;
      margin-bottom: 0;
    }

    &--modal-inner {
      padding: 0;
      font-size: 1.4rem;
    }

    &--modal-innerCard {
      font-size: 1.8rem;
      span {
        font-size: 1.4rem;
        color: $gray;
        font-weight: 400;
        margin-left: 0;
      }
    }
  }

  &__paragraph {
    color: $gray;
    font-size: 1.4rem;
    margin-bottom: 1.5rem;

    &--stats {
      margin-bottom: 4rem;
      position: relative;

      &::after {
        content: '';
        width: 1px;
        height: 60px;
        background-color: $lightGray;
        position: absolute;
        bottom: 0;
        right: -50px;

        @include media(600px) {
          content: '';
          width: 60px;
          height: 1px;
          background-color: $lightGray;
          position: absolute;
          left: calc(50% - 30px);
          bottom: -25px;
        }
      }

      &-last {
        margin-bottom: 3rem;

        &::after {
          display: none;
        }
      }
    }

    &--about {
      line-height: 1.7;
    }

    &--innerCard {
      line-height: 1.7;
    }

    &--pledge-input {
      margin-bottom: 0;
    }
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 3.5rem;
  }

  &__button {
    background-color: $moderateCyan;
    color: $white;
    font-weight: 700;
    font-size: 1.4rem;
    border: none;
    border-radius: 30px;
    outline: none;
    cursor: pointer;

    &:hover {
      background-color: $darkCyan;
    }

    &--project {
      padding: 1.25em 2.5em;
    }

    &--bookmark {
      padding: 1.238em 1.392em;
      background-color: $darkGray;
      z-index: 10;
      margin-right: 115px;

      &:hover {
        background-color: $darkGray;
      }

      @include media(500px) {
        margin-right: unset;
      }
    }

    &--innerCard {
      padding: 1.2em 2.5em;
    }

    &--outOfStock {
      padding: 1.2em 2.5em;
      background-color: $gray;

      &:hover {
        background-color: $darkGray;
      }
    }

    &--thank-you {
      padding: 1em 2em;
    }

    &--input {
      padding: 1em 2em;
      margin-left: 1.5rem;
    }
  }

  &__bookmarkWrapper {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  &__bookmarkIcon {
    width: 13px;
    display: flex;
  }

  &__bookmarkText {
    color: $gray;
    position: absolute;
    z-index: 2;
    left: 30px;
    background-color: $lightGray;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    font-size: 1.4rem;
    font-weight: 700;
    padding: 1.25em 2em 1.25em 3em;

    @include media(500px) {
      display: none;
    }
  }

  &__progress {
    width: 100%;
    background-color: $lightGray;
    border-radius: 25px;
  }

  &__bar {
    max-width: 100%;
    height: 10px;
    border-radius: 25px;
    background-color: $moderateCyan;
  }
}

.out-of-stock {
  opacity: 0.35;
}
