.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 20;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.308));
}

.modal {
  border: solid 1px $lightGray;
  border-radius: 10px;
  background-color: $white;

  &__content {
    width: 100%;
    position: absolute;
    z-index: 50;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &--innerCard {
      display: flex;
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;

    img {
      width: 13px;
      height: 13px;
    }
  }

  &__circle {
    flex: 1;
    max-width: 20px;
    max-height: 20px;
    width: 20px;
    height: 20px;
    border: 1px solid $lightGray;
    border-radius: 100%;
    position: relative;

    &--inner {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 50%;
      height: 50%;
      border: none;
      background-color: $moderateCyan;
    }
  }

  &--thank-you {
    position: fixed;
    z-index: 50;
    text-align: center;
    max-width: 450px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    img {
      margin-bottom: 1.5rem;
    }
  }

  &__pledge {
    flex: 1;
    margin-left: 2rem;
  }

  &__pledge-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2.4rem;
    border-top: 1px solid $lightGray;
  }
}

.open {
  visibility: visible;
}

.closed {
  visibility: hidden;
}
